{{! Partial for a single post }}

<link rel="stylesheet" href="/css/post-styles.css">  

<div class="post">
    <div class="post-avatar">
        <img src="/avatar/{{username}}" alt="User Avatar">
    </div>
    <div class="post-content preserve-newlines">
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        {{#if imageName}}
            <div class="img-container">
                <img src="/uploads/{{imageName}}" alt="Uploaded Image">
            </div>
        {{/if}}
        <hr class="post-content-horz-bar">
        <div class="post-status-bar">
            <div class="post-actions">
                <p>
                    {{#ifCond this.username user.username}}
                        <button class="delete-button" data-id="{{id}}" onclick="handleDeleteClick(event)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    {{else}}
                        <button class="like-button {{#if isLikedByUser}}liked-by-user{{/if}}" data-id="{{id}}" onclick="handleLikeClick(event)">
                            <i class="fas fa-heart"></i>
                        </button>
                    {{/ifCond}}
                    <span class="like-count">{{likes}} Likes</span> - {{postNeoType}}ed by {{username}} on {{timestamp}}
                </p>
            </div>
        </div>        
    </div>
</div>
<script src="/scripts/post-partial.js"></script>
