{{! Use the main layout }}
{{!< main }}

<link rel="stylesheet" href="/css/home-styles.css">  

{{! New Post Submission Form }}
<section class="content-container">
    {{#if loggedIn}}
        <section class="new-post">
            <h2>Make a new {{postNeoType}}</h2>
            <form action="/posts" method="POST" enctype="multipart/form-data">
                <input type="text" name="title" placeholder="Title" required>
                <textarea name="content" placeholder="What's on your mind {{user.username}}?" required></textarea>
                <div class="img-container">
                    <img id="image-preview" src="" alt="Image Preview" title="Preview of uploaded image" style="display: none;">
                </div>
                <div class="form-actions">
                    <button type="button" class="emoji-button" onclick="toggleEmojiPanel()">😀</button>
                    <label for="image-upload" class="upload-image-button" id="upload-image-label">Upload Image</label>
                    <input id="image-upload" type="file" name="image" accept="image/*" style="display: none;">
                    <button type="submit" class="post-button">{{postNeoType}}</button>
                </div>
            </form>
            <div id="emoji-container" class="emoji-panel" style="display: none;">
                <input type="text" id="emoji-search" placeholder="Search emojis..." oninput="searchEmojis()">
                <div id="emoji-grid"></div>
            </div>
        </section>
    {{/if}}


    <section class="posts-list">
        
        <form class="tabs">
            <input id="t1" class="toggle" name="sorting" type="radio" {{#ifCond sort 'recent'}}checked{{/ifCond}} onclick="location.href='/?sort=recent'">
            <label for="t1" class="btn"><h2>Recent {{postNeoType}}s</h2></label>
            <input id="t2" class="toggle" name="sorting" type="radio" {{#ifCond sort 'likes'}}checked{{/ifCond}} onclick="location.href='/?sort=likes'">
            <label for="t2" class="btn"><h2>Top {{postNeoType}}s</h2></label>
        </form>


        {{#if posts.length}}
            <ul>
                {{#each posts}}
                    <li>{{> post this user=../user postNeoType=../postNeoType}}</li>
                {{/each}}
            </ul>
        {{else}}
            <p>No posts available.</p>
        {{/if}}
    </section>
</section>

<script src="/scripts/home.js"></script>


