{{! Use the main layout }}
{{!< main }}

<link rel="stylesheet" href="/css/profile-styles.css">

<section class="profile-container">
    <div class="profile-header">
        <div class="profile-avatar">
            <img src="/avatar/{{user.username}}" alt="User Avatar">
        </div>
        <div class="profile-info">
            <h2>User Profile</h2>
            <p>Username: {{user.username}}</p>
            <p>Member since: {{user.memberSince}}</p>
        </div>
    </div>

    <div class="user-posts">
        <!-- you can call posts tweets, or truths, or whatever, these are neologisms. Choose your own new in server.js -->
        <h2>Your {{{postNeoType}}}s</h2>
        
        <!-- you'll need to make this conditaionl and #each expression work -->
        {{#if user.posts.length}}
            <ul>
                {{#each user.posts}}
                    <li>{{> post this}}</li>
                {{/each}}
            </ul>
        {{else}}
            <!-- fix this up with some helper functions and other handlebars expressions, or add you own character -->
            <p>You have not posted yet, poster.</p>
        {{/if}}
    </div>
</section>


<script>
    function handleDeleteClick(event) {
        const postId = event.target.getAttribute('data-id');
        fetch(`/delete/${postId}`, { method: 'POST' })
            .then(() => window.location.reload());
    }
</script>